.containerContentPage{
  padding: 30px 30px 30px 40px;
  height: 100%;
}

.titlePage{
  font-weight: 700;
  font-size: 24px;
  line-height: 30px;
}

.divider{
  border-top: solid;
  border-color: rgb(100, 100, 100);
}